# default
.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# resources
source/_posts
source/_drafts
source/images/posts
source/Ω®’æ»’÷æ.md

# scaffolds
scaffolds/*
!scaffolds/draft.md
!scaffolds/page.md
!scaffolds/post.md