// Custom styles.

/* 文章内部的超链 */
.post-body p a,
.post-body li a {
  color: #0593d3;
  border-bottom: none;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: none;
    border-bottom: 1px solid #fc6423;
  }
}

/* 行内代码块 */
code {
    color: #d500fc;
    background: rgba(78, 240, 233, 0.42);
    margin: 2px;
    border: 1px solid #d6d6d6;
}

/* 预格式代码块(用tab键插入的代码块) */
pre code {
    margin: 0;
    border: none;
}

/* 去掉图片边框 */
.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}

/* 页面右下角的返回顶部按钮 */
.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(111, 66, 193, 0.78);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.back-to-top.back-to-top-on {
    bottom: 10px;
}

/* 使用bilibili头像挂件时的头像 */
.site-author-image-bilibili {
    display: block;
    margin-top: -132px;
    margin-bottom: 30px;
    padding: 0;
    max-width: 94px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 50%;
}

/* bilibili头像挂件 */
.site-avatar-plug-bilibili {
    position: relative;
    display: block;
    padding: 0;
    max-width: 168px;
    height: auto;
    z-index: 1;
}

/* 不使用头像挂件时的头像 */
.site-author-image {
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 50%;
}

/* 站点标题 */
.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    text-shadow: 5px 5px 3px rgba(47, 138, 216, 0.47);
    color: rgb(50, 158, 220);
}

/* 消除菜单图标的右内间距 */
.menu .menu-item .fa {
    margin-right: 0;
}

/* 选中菜单时显示图标 */
.menu-item-active a:after {
    position: absolute;
    font-family: 'FontAwesome';
    content: " \f0f4";
    color: rgba(210, 65, 65, 0.57);
    right: 15px;
}

/* 选中菜单时的背景样式 */
.menu .menu-item a:hover,
.menu-item-active a {
    background: rgba(238, 238, 238, 0.56)
    border-radius: 5px;
}

/* 菜单栏一行两个菜单按钮 */
.site-nav ul {
    width: 101%;
    margin-top: -16px;
}
.site-nav li {
    float: left;
    width: 50%;
}

/* 侧边栏样式 */
.sidebar-inner {
    top: 0;
}

/* 减少文章摘要里标题和正文的间距 */
.posts-expand .post-meta {
    margin: 3px 0 30px 0;
}