// Custom styles.

/* -----------start：头像相关---------- */

/* 使用bilibili头像挂件时的头像 */
.site-author-image-bilibili {
    display: block;
    margin-top: -132px;
    margin-bottom: 30px;
    padding: 0;
    max-width: 94px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 50%;
}

/* bilibili头像挂件 */
.site-avatar-plug-bilibili {
    position: relative;
    display: block;
    padding: 0;
    max-width: 168px;
    height: auto;
    z-index: 1;
    pointer-events: none;
}

/* 不使用头像挂件时的头像 */
.site-author-image {
    display: block;
    margin: 0 auto;
    padding: 2px;
    max-width: 120px;
    height: auto;
    border: 1px solid #eee;
    border-radius: 50%;
}

/* 头像旋转 */
.site-author-image-bilibili {
  /* 设置循环动画
  [animation: 
	(play)动画名称
	(2s)动画播放时长单位秒或微秒
	(ease-out)动画播放的速度曲线为以低速结束 
	(1s)等待1秒然后开始动画
	(1)动画播放次数(infinite为循环播放) ]*/
 
  /* 鼠标经过头像旋转360度 */
  -webkit-transition: -webkit-transform 1.0s ease-out;
  -moz-transition: -moz-transform 1.0s ease-out;
  transition: transform 1.0s ease-out;
}
img:hover {
  /* 鼠标经过停止头像旋转 
  -webkit-animation-play-state:paused;
  animation-play-state:paused;*/

  /* 鼠标经过头像旋转360度 */
  -webkit-transform: rotateZ(360deg);
  -moz-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}
/* Z 轴旋转动画 */
@-webkit-keyframes play {
  0% {
    -webkit-transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(-360deg);
  }
}
@-moz-keyframes play {
  0% {
    -moz-transform: rotateZ(0deg);
  }
  100% {
    -moz-transform: rotateZ(-360deg);
  }
}
@keyframes play {
  0% {
    transform: rotateZ(0deg);
  }
  100% {
    transform: rotateZ(-360deg);
  }
}

/* -----------end：头像相关---------- */


/* -----------start：图片相关---------- */

/* 去掉图片边框 */
.posts-expand .post-body img {
    border: none;
    padding: 0px;
}
.post-gallery .post-gallery-img img {
    padding: 3px;
}

/* -----------end：图片相关---------- */


/* -----------start：页面底部相关---------- */

/* 页面右下角的返回顶部按钮 */
.back-to-top {
    line-height: 1.5;
    right: 10px;
    padding-right: 5px;
    padding-left: 5px;
    padding-top: 2.5px;
    padding-bottom: 2.5px;
    background-color: rgba(111, 66, 193, 0.78);
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.35);
}
.back-to-top.back-to-top-on {
    bottom: 10px;
}

/* 消除Hosted by的超链底部线条 */
.footer-custom a {
    border-bottom: 0;
}

/* 文章底部标签样式 */
.post-tags a {
    display: inline-block;
    padding: 0 15px;
    border-radius: 2px;
    border-bottom: none;
    text-align: center;
    color: rgba(255,255,255,0.8);
    &:hover {
        color: #fff;
        box-shadow: 0 4px 8px rgba(0,0,0,0.26);
    }
}

/* 文章底部标签的颜色 */
.post-tags a:nth-child(n+1) {
    background:#8bc34a;
}
.post-tags a:nth-child(n+2) {
    background:#673ab7;
}
.post-tags a:nth-child(n+3) {
    background:#ff9800;
}
.post-tags a:nth-child(n+4) {
    background:#f44336;
}
.post-tags a:nth-child(n+5) {
    background:#00abc0;
}
.post-tags a:nth-child(n+6) {
    background:#2196f3;
}

/* -----------end：页面底部相关---------- */


/* -----------start：页面相关---------- */

/* 鼠标样式 */
:active {
  cursor: url("/images/cursor/Diamond-Sword.cur"),auto!important;
}
a {
  cursor: url("/images/cursor/Diamond-Pickaxe.cur"),auto!important;
}

/* -----------end：页面相关---------- */


/* -----------start：站点标题---------- */

/* 站点标题 */
.site-title {
    display: inline-block;
    vertical-align: top;
    line-height: 36px;
    font-size: 21px;
    font-weight: bold;
    font-family: 'Lato', "PingFang SC", "Microsoft YaHei", sans-serif;
    text-shadow: 5px 5px 3px rgba(47, 138, 216, 0.47);
    color: rgb(50, 158, 220);
}

/* -----------end：站点标题---------- */


/* -----------start：菜单栏相关---------- */

/* 消除菜单图标的右内间距 */
.menu .menu-item .fa {
    margin-right: 0;
}

/* 选中菜单时显示图标 */
.menu-item-active a::after {
    position: absolute;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Brands";
    content: "\f286";
    color: rgba(210, 65, 65, 0.57);
    right: 15px;
}

/* 选中菜单时的背景样式 */
.menu .menu-item a:hover,
.menu-item-active a {
    background: rgba(238, 238, 238, 0.56)
    border-radius: 5px;
}

/* 菜单栏一行两个菜单按钮 */
.site-nav ul {
    width: 101%;
    margin-top: -16px;
}
.site-nav li {
    float: left;
    width: 50%;
}

/* -----------end：菜单栏相关---------- */


/* -----------start：侧边栏相关---------- */

/* 侧边栏样式 */
.sidebar-inner {
    top: 0;
}

/* 侧边栏菜单 */
.links-of-author-item .fas,
.links-of-author-item .far,
.links-of-author-item .fab {
    margin-right: 5px;
    font-size: 14px;
}

/* 友链样式 */
.links-of-blogroll-list a {
  color: #fc6423;
  border-bottom: 0;
  &:hover {
    color: #0593d3;
    text-decoration: underline;
  }
}

/* -----------end：侧边栏相关---------- */


/* -----------start：文章相关---------- */

/* 文章内部、底部的超链 */
.post-body p a,
.post-body li a,
.post-footer p a,
.post-footer li a {
  color: #0593d3;
  border-bottom: 1px solid #0593d3;
  &:hover {
    color: #fc6423;
    border-bottom: 1px solid #fc6423;
  }
}

/**/
.post-nav a {
    color: #2a80a7;
    &:hover {
        color: #a166ab;
    }
}

/* 行内代码块 */
code {
    color: #d500fc;
    background: rgba(78, 240, 233, 0.42);
    margin: 2px;
    border: 1px solid #d6d6d6;
}

/* 预格式代码块(用tab键插入的代码块) */
pre code {
    margin: 0;
    border: none;
}

/* 引用块样式 */
blockquote {
    padding: 1px 16px 1px 16px;
    border-left: 8px solid #DDDFE4;
    color: #999;
    font-size: 15px;
    background: #EEF0F4;
}
blockquote p {
    margin: 20px 0 20px 0;
    line-height: 22px;
}
.blockquote-center {
    background: white;
}

/* 缩小文章摘要里标题和正文的间距 */
.posts-expand .post-meta {
    margin: 3px 0 30px 0;
}

/* 设置文章摘要里的图片的最大宽度 */
section .post-body .fancybox img {
    max-width: 70%;
}

/* -----------end：文章相关---------- */